<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/footer.css' />
</head>
<body>
    <div id = 'footer'>Copyright © 2020. Deuk. All rights reserved.</div>
</body>
</html>