<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/cooking.css' />
</head>
<body>
    <%- include('includes/header'); %>
    <div class="cookingImg">
        <h2>Cooking</h2>
    </div>

    <div id = "content">

        <div id = "post">
            <ul>
                <li>전체 게시물</li>
                <li>베이커리</li>
                <li>양식</li>
                <li>중식</li>
            </ul>
        </div>
        
        <div class = "grid">
            <img src = "/images/food1.jpg" width="400px" height="300px">
            <div>
                <h2>새우튀김 & 칠리새우</h2>
                <p>새우튀김과 칠리새우는 남녀노소 누구나 좋아하는 중화요리중 하나입니다</p>
                <p>전분만으로 튀긴 새우튀김에 케첩과 고추장을 양념을 베이스로 조리한 중화풍 칠리새우는</p>
                <p>자꾸만 손이가는 음식 중 하나라고 할 수 있습니다.</p>
                <p><h3>재료</h3></p>
                <p>&nbsp;대하, 감자전분, 마늘, 케첩, 고추장</p>
            </div>
        </div>

        <div class = "grid">
            <img src = "/images/food2.jpg" width="400px" height="300px">
            <div>
                <h2>콘치즈빵</h2>
                <p>부드러운 버터가 발라진 모닝빵 속을 파내 빈공간을 만들고</p>
                <p>마요네즈, 허니머스타드, 스위트콘, 양파로 풍미를 더한 속을 꽉 채운 콘치즈빵은</p>
                <p><b>겉바속촉</b>으로 아이들 간식과 아침식사 대용으로 일품이라고 할 수 있는 브런치 브레드 입니다.</p>
                <p><h3>재료</h3></p>
                <p>&nbsp;버터 모닝빵, 양파, 모짜렐라 치즈, 스위트곤, 마카로니, 파슬리</p>
            </div>
        </div>
    
        <div class = "grid">
            <img src = "/images/food3.jpg" width="400px" height="300px">
            <div>
                <h2>마늘 바케트</h2>
                <p>겉이 바삭하고 속은 촉촉하여 누구나 좋아하는 바케트를 활용한 마늘 바케트는</p>
                <p>알싸한 마늘과 달콤한 설탕의 조화로 이루어진 갈릭잼을 바케트에 골고루 발라</p>
                <p>180도의 뜨거운 인내의 시간을 견딘 마늘 바케트는 맛의 오페라로 사람들을 즐겁게 해준다.</p>
                <p><h3>재료</h3></p>
                <p>&nbsp;다진마늘, 설탕, 바케트빵(토스트용 식빵), 파슬리</p>
            </div>
        </div>
    
        <div class = "grid">
            <img src = "/images/food4.jpg" width="400px" height="300px">
            <div>
                <h2>떡볶이</h2>
                <p>매콤하고 달달한 국민간식 떡볶이는 모든사람들에게 인기있는 스테디셀러이다.</p>
                <p>쫄깃한 쌀떡과 화끈하게 매운 고춧가루, 고추장을 베이스로 양념을 하는 떡볶이는</p>
                <p>우리와 어릴 때 부터 같이 함께한 추억이자 친구라고 할 수 있다.</p>
                <p><h3>재료</h3></p>
                <p>&nbsp;쌀떡(밀떡), 어묵, 고추장, 고춧가루, 물엿, 다진마늘</p>
            </div>
        </div>

    </div>
    <%-include('includes/footer'); %>
</body>
</html>