<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/guestbookwrite.css' />
</head>
<body>
    <%-include('includes/header');%>
    <div class="GuestbookImg">
        <h2>Guest Book Write</h2>
    </div>
    <div id = 'title'>Guest Book</div>
    <div id = 'submit'><input type="button" value="제출하기"></div>
    <%-include('includes/footer');%>
</body>
</html>