<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/history.css' />
</head>
<body>
    <%-include('includes/header');%>
    <div class="historyImg">
        <h2>History</h2>
    </div>

    <div id="content">
        <h1>나의 활동</h1>
        <h2>김득회가 했던 활동들을 소개합니다.</h2>

        <div>
            <h3>해양IT융합연구소 애플리케이션 개발</h3>
            <div class = "HistoryGrid">
                <img id = "app" src ="/images/Oceanapp.jpg" width="250px" height="500px">
                <div>
                    <ul>
                        <li>
                            <h3>애플리케이션이름</h3>
                            <ul>
                                <li>해양IT융합기술연구소 (Ocean IT)</li>
                            </ul>
                        </li>
                        <li>
                            <h3>적용 기술</h3>
                            <ul>
                                <li>Android, Java, Xml</li>
                            </ul>
                        </li>
                        <li>
                            <h3>개발 목적</h3>
                            <ul>
                                <li>해양IT 연구실 연구원들의 편의를 주고자 개발을 하게 되었다.</li>
                            </ul>
                        </li>
                        <li>
                            <h3>다운로드 링크</h3>
                            <ul>
                                <li><a href = "https://play.google.com/store/apps/details?id=com.oceanit.hoseo_oceanit">https://play.google.com/store/apps/details?id=com.oceanit.hoseo_oceanit</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <h3>LINC+ Capstone Design 대회 참가</h3>
            <div class = "HistoryGrid">
                <img id="panel" src= "/images/capstone.jpg" width="300px" height="500px">
                <div>
                    <ul>
                        <li>
                            <h3>참가 작품명</h3>
                            <ul>
                                <li>스마트 책꽂이 (Smart Bookshelf)</li>
                            </ul>
                        </li>
                        <li>
                            <h3>적용 기술</h3>
                            <ul>
                                <li>Arduino, Phython(Socket.IO), Node.js</li>
                            </ul>
                        </li>
                        <li>
                            <h3>개발 목적</h3>
                            <ul>
                                <li>관공서와 공공 도서관, 대형 서점에서 책 검색의 불편함을 줄이고자 개발하게 되었다.</li>
                            </ul>
                        </li>
                        <li>
                            <h3>수상 결과</h3>
                            <ul>
                                <li>캡스톤디자인 <b>은상</b> 수상</li>
                            </ul>
                        </li>

                        <li>
                            <h3>특허 출헌 실시</h3>
                            <ul>
                                <li>관련 링크 추후 작성</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>


    </div>
    <%-include('includes/footer'); %>
</body>
</html>