<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <%-include('includes/header');%>
    <div>
      <img src="/images/IndexMain.jpg" alt="Main Image" title ="메인 이미지" width="100%">
      <div id="MainText">안녕하세요 감성 프로그래머 <p><span id = "name">김득회</span> 입니다.</p></div>
  </div>
  <div><h2 id="Myname">Kim Deuk Hoi</h2></div>
  <div id = "grid">
      <img id = "Myphoto" src="/images/profile.JPG" alt= "Myprofile" title = "내사진" width = "450px" height="700px">
      <div id = "profile">
          <h3>인물 정보</h3>
          <ul>
              <li>1997.12.13   &nbsp;  김득회 탄생<br></li>
              <li>2004.03.02   &nbsp;  병천 초등학교 입학<br></li>
              <li>2010.02.13   &nbsp;  병천 초등학교 졸업<br></li>
              <li>2010.03.02   &nbsp;  병천 중학교 입학<br></li>
              <li>2013.02.19   &nbsp;  병천 중학교 졸업<br></li>
              <li>2013.03.04   &nbsp;  천안 중앙고등학교 입학<br></li>
              <li>2016.02.10   &nbsp;  천안 중앙고등학교 졸업<br></li>
              <li>2016.03.02   &nbsp;  호서대학교 컴퓨터공학부 컴퓨터공학전공 입학<br></li>
              <li>2017.02.21   &nbsp;  강원도 화천 제7보병사단 입대<br></li>
              <li>2018.11.18   &nbsp;  강원도 화천 제7보병사단 5연대 2대대 5중대 병장 만기 전역<br></li>
              <li>2019.03  ~  &nbsp;&nbsp;   호서대학교 복학<br></li>
          </ul>
      </div>  
  </div>
  <%-include('includes/footer'); %>
  </body>
</html>
