body{
    margin: 0;
}

.cookingImg{
        background-image: url(/images/CookingMain.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        text-align: center;
        padding: 10em 2em 10em 2em;
        /* padding :170px 0 100px 0; */
    
    }
.cookingImg h2{
        font: bold 30pt '경기천년제목';
        color: white;
        margin-top: 0px;
        margin-bottom: 0px;
    }

#post ul li{
    font:bold 14pt '경기천년제목';
    margin-right: 30px;
    display:inline-block;
    list-style-type:none;
}

#post ul{
    margin-bottom: 30px;
    margin-top: 30px;
    padding-inline-start: 10px;
}

.grid{
    display:grid;
    grid-template-columns: 450px 1fr;
    margin-bottom: 30px;
}

.grid h2{
    border-bottom: 2px dashed gray;
}

.grid img{    
    padding: 10px;
}

#content{
    margin-right: 200px;
    margin-left: 200px;
}

@media(max-width: 1250px)
{
    .cookingImg{
        padding: 8em 2em 8em 2em;
    }
    .cookingImg h2{
        font: bold 25pt '경기천년제목';
    }
    #content
    {
        margin-left: 150px;
        margin-right: 150px;
    }
    .grid{
        display: block;
    }
}

@media(max-width: 980px)
{
    .cookingImg{
        padding: 7em 2em 7em 2em;
    }
    .cookingImg h2{
        font: bold 20pt '경기천년제목';
    }
    #content
    {
        margin-left: 100px;
        margin-right: 100px;
    }
    
    
}

@media(max-width: 600px)
{
    .cookingImg{
        padding: 5em 2em 5em 2em;
    }
    .cookingImg h2{
        font: bold 18pt '경기천년제목';
    }
    #content
    {
        margin-left: 50px;
        margin-right: 50px;
    }

    #content h2{
        font-size: 13pt;
    }
    #content h3{
        font-size: 14px;
    }
    #content p{
        font-size: 13px;
    }
}